/unittests/Debug
/__history
*.dsk
/bag of stuff/async streams/__history
/bag of stuff/async streams/Win32
/bag of stuff/async streams/*.identcache
/bag of stuff/async streams/*.dsk
/bag of stuff/async streams/*.res
/bag of stuff/async streams/*.local
/bag of stuff/async streams/*.~dsk
/examples/TThread communication/*.identcache
/examples/TThread communication/*.dsk
/examples/TThread communication/*.~dsk
/examples/TThread communication/*.local
/examples/TThread communication/*.skincfg
/*.exe
/*.map
/*.drc
/*.dcu
/*.dproj.local
/*.identcache
/Win32
